* {
	margin: 0;
	padding: 0;
}

html,body{
  width: 100%;
  height: 100%;
}

.swiper-container{
  width: 100%;
  height: 100%;
}

.blue-slide {
	background: #cce5f6;
}

.orange-slide {
	background: #fcb322;
}

.deep-blue-slide{
  background: #94d3eb;
}

.red-slide {
	background: #fa6049;
}

.green-slide{
  background: #57b557;
}

.swiper-slide{
	text-align: center;
	display: table-cell;
  vertical-align:middle;
	height: 100%;
	width: 100%;
}

.download-btn{
	position: relative;
	top: -23%;
	left: -15%;
	width: 38%;
	height: 8%;
	background-color: transparent;
	border: none;
}

.download-btn img{
  width: 100%;
  height: 100%;
}

.arrow-gif{
	position: absolute;
  bottom: 0;
  width: 12%;
  left: 42%;
}
